extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

        

        
        h1= project.project_name

        
        p= project.description

      .project-tech-links-box.box
        h6 Technologies
        ul

          
          each tech in project.tecnologies
            li= tech

        
        a.btn-link(href=`${project.live_link}` target = '_blank') Live Demo
        a.btn-link(href=`${project.github_link}` target = '_blank') GitHub Repo

    .project-img-box.box

      
      img.project-img(src=`${project.images_url[0]}`, alt='')
      img.project-img(src=`${project.images_url[1]}`, alt='')
      img.project-img(src=`${project.images_url[2]}`, alt='')

    nav.nav
      a(href='/')
        span &larr;
        |  Back
